<div class="sidebar card h-full p-5 m-0">
  <div class="container flex flex-column">
    
    <div class="sidebar__header flex flex-column">
      
      <div class="flex align-items-center justify-content-center h-2rem">
        <h1>ConnectED</h1>
      </div>

      <div id="items__container" class="flex flex-column align-items-start mt-4"> 
        <div class="subitem__container flex flex-row align-items-center">
          <div class="icon flex mr-4 align-items-center">
            <p><fa-icon [icon]='iconHome'></fa-icon></p>
          </div>
          <div class="item flex text-lg align-items-center">
            <p>Item</p>
          </div>
        </div>

        <div class="subitem__container flex flex-row align-items-center">
          <div class="icon flex mr-4 align-items-center">
            <p><fa-icon [icon]='iconBook'></fa-icon></p>
          </div>
          <div class="item flex text-lg align-items-center">
            <p>Courses</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
